
.nf-hidden {
  display: none;
}
.nf-show {
  display: block;
}

.nf-pointer-mouse {
  cursor: pointer;
}

.nf-plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nf-list-item-horizontal {
  float: left;
  display: inline;
  padding-right: 8px;
}

.pane-app-container {}