
.nf-hidden {
  display: none;
}
.nf-show {
  display: block;
}

.nf-pointer-mouse {
  cursor: pointer;
}

.nf-plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nf-list-item-horizontal {
  float: left;
  display: inline;
  padding-right: 8px;
}

.nf-font-11 {
  font-size: 11px;
}
.nf-font-14 {
  font-size: 14px;
}

.nf-separator {
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 8px;
}
.nf-separator-item-spacer {
  margin-left: 4px;
  margin-right: 4px;
}
.pane-app-container {}